# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AlgorithmsLab1.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Satellite\RiderProjects\AlgorithmsLab1\.idea\.idea.AlgorithmsLab1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
